#game-container {
    display: flex;             /* Side-by-side layout */
    align-items: flex-start;   /* Align top of the div and canvas */
}

#plant-selection {
    width: 100px;              /* First column width */
    height: 500px;             /* Same height as canvas */
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}


body{
    background: black;
}
#canvas1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
background-image: url('p-images/background.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}